extends base.pug
block style    
    style
        include ../static/base.css
        include ../static\About.css
block content

    div.story
     h1 our Vision
     h2 provide Education for a better life
    




    <div class="upper">
    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Et assumenda omnis cupiditate quas? Temporibus, magnam! Dignissimos ullam qui at error, illum veniam eum, corporis veritatis eaque voluptatum ipsa ratione cumque dolorem totam distinctio consectetur, eos necessitatibus quas? Soluta inventore quidem enim nobis dolore cumque ipsam quam vel consequuntur tempore, porro repudiandae natus sint facere eligendi sequi qui? Doloremque itaque veniam reiciendis nobis repellendus! Molestias, aspernatur illo? Exercitationem dolores earum harum!</p></div>
    <div class="main">
    <div class="container">
        <div class="left">
        <h1>Our Founder</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem vel, corrupti non optio provident id maxime consequuntur quibusdam dolore veritatis sapiente et tenetur accusantium explicabo voluptates error beatae aspernatur enim?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, illo. Et aliquam quos id, aspernatur libero iusto repudiandae deserunt sit ex eum deleniti obcaecati quo laborum ullam atque omnis corrupti quidem voluptatum ut. Amet, blanditiis. Deserunt soluta rem tempore, ntore mollitia voluptatibus iste voluptas fuga cupiditate, aliquam a fugit molestias aliquid vero veniam placeat accusantium ab voluptate error, quasi tenetur repudiandae. Debitis expedita ab dicta sunt ex reiciendis ipsa hic nesciunt ullam laboriosam in, numquam voluptatibus! Aliquam similique modi ipsum, sint deserunt eum debitis delectus atque quidem impedit maxime, qui fugit ab distinctio natus at magni repellat eligendi perferendis? Ducimus, velit ab!
        </p>
    </div>
    <div class="right">

    <img src="/static/Images\About us\(1).jpg" height="450px" class= "photo"alt="">
    </div>
    </div>
    </div>
