html
  head
    title Oxford English Higher Secondary School

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Dancing+Script:wght@400;500;600&family=Foldit:wght@100;200;300&family=Open+Sans:ital,wght@0,300;0,600;1,300;1,500&family=Satisfy&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css" integrity="sha512-SgaqKKxJDQ/tAUAAXzvxZz33rmn7leYDYfBP+YoMRSENhf3zJyx3SBASt/OfeQwBHA1nxMis7mM3EV/oYT6Fdw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    block scripts 
    block style
body
    nav#navbar
        ul
            div.logo
                img(src="/static/Images/logo.jpg" alt="abhi")
            div.list
            li #[a(href="/") Home ]
            li #[a(href="/Gallery") Gallery ]
            li #[a(href="/Academics") Academics ]
            li #[a(href="/login_page") Contact ]

            li #[a(href="/About")  About Us ]
    block content
    block footer
     <section class="footer">

    

        <div class="footer">
        
            <ul>
                <h3>Additional Links</h3>
                <li>Home</li>
                <li>Contact us</li>
                <li>services</li>
                <li>Gallery</li>
                <li>Academics</li>
            </ul>
        
            <ul >
                <div class="border">       
                <h3>Help</h3>
                <li>Commuity</li>
                <li>Support</li>
                <li>Troubleshooting</li>
                <li>Contact Us</li>
                <li>Status</li>
            </div>
        
            </ul>
        
        
        <div class="img">
            <img src="static\images (1).png" alt="">
            <img src="static\images.png" alt="">
        </div>
        <div class="own">
            <p style="color: white; margin: 0px 0px 21px;border: 1px solid white;text-align: center;border-width: 0px 0px 2px;padding: 0px 0px 33px;">All rights Are reserved by oxford english higher secondary school</p>

            <p style="color: white; width: 118%;">Founder Of Website: Abhishek Mangal</p>
            
        </div>
       
    </section>
        

   
    

