extends base.pug

block style
    style
        include ../static/base.css
        include ../static/homepage.css
  

block content


    <section class= "first">
        <div class="photo">
            <h1 class="tagline"> Welcome to <br> Oxford Enlgish Higher Secondary school </h1>
            <h3 class="tagline2"> Admission open </h3> 
        </div>
    </section>


        <section class="second">
            <h1 class="main-heading"> Information Section</h1>
            <div class="main">     
                <div class="Notice" id="column">
                <h1 id="heading" >Notice</h1>
                <p>Lorem, ipsum dolor et, nobis sed rerum ea eligendi sint maxime?</p>

                <p>Lorem, ipsum dolor et, nobis sed rerum ea eligendi sint maxime?</p>
                <p>Lorem, ipsum dolor et, nobis sed rerum ea eligendi sint maxime?</p>
            </div>
        

            <div class="Highlights" id="column">
                <h1  id="heading" >Highlights</h1>
                <p>Lorem, ipsum dolor et, nobis sed rerum ea eligendi sint maxime?</p>

                <p>Lorem, ipsum dolor et, nobis sed rerum ea eligendi sint maxime?.</p>
                <p>Lorem, ipsum dolor et, nobis sed rerum ea eligendi sint maxime?</p>
            </div>
            <div class="events" id="column">
                <h1  id="heading" >Events</h1>
                <p>Lorem, ipsum dolor et, nobis sed rerum ea eligendi sint maxime?</p>

                <p>Lorem, ipsum dolor et, nobis sed rerum ea eligendi sint maxime?</p>
                <p>Lorem, ipsum dolor et, nobis sed rerum ea eligendi sint maxime?</p></div>

            </div>

        </section>

        <section  class="Information">

            <h1>achievemnets</h1>
            <div class="information-x">

            <div>1500+ students</div>
            <div>150+ faculty</div>
            <div>50+ students in neet and jee</div>
            
            <div>20+ Events</div>
        </div>
        </section>

        <section id="Events">

            <h1>Upcoming Events</h1>
            
        
            <div class="slideshow-container">

                <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="/static/Images\Achievements\Fancy Dress Competition.jpg" style="width:100%; box-shadow: 5px 5px 10px black;" class="EvI">
                <div class="text">Miss Oxford Competition</div>
                </div>
                
                <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="/static/Images\Achievements\Debate competition.jpg" style="width:100%; box-shadow: 5px 5px 10px black;" class="EvI">
                <div class="text">Debate competition</div>
                </div>
                
                <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="/static/Images\Achievements\Tour.jpg" style="width:100%; box-shadow: 5px 5px 10px black;" class="EvI">
                <div class="text">School trip</div>
                </div>
                
                </div>
                <br>
                
                <div style="text-align:center">
                <span class="dot"></span> 
                <span class="dot"></span> 
                <span class="dot"></span> 
                </div>
        

        



        </section>
       
        <script src="/static/homePage.js"></script>