<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Dancing+Script:wght@400;500;600&family=Foldit:wght@100;200;300&family=Open+Sans:ital,wght@0,300;0,600;1,300;1,500&family=Satisfy&display=swap" rel="stylesheet">
    
    <title>Gallery</title>

    style
        include ../static\Gallery.css
</head>
<body>
    <nav>


        <ul>
           
              
            
            <div class="links">
                <div class="logo">
                <img src="/static/Images\logo.jpg" alt="abhi">
            </div>
            <li> <a href="/"> Home </a></li>
            <li> <a href="/Gallery"> Gallery </a></li>
            <li> <a href="/Academics"> Academics </a></li>
            <li> <a href="/login_page"> Contact </a></li>
            <li> <a href="/About"> About Us </a></li>

        </div>
       
        </ul>
        <h1 class="Heading"> Gallery Section</h1>
    
    </nav>

    <h1><u style="font-family: 'dancing script';font-size: 2.3rem;font-weight: bolder;" > Some highlights of Oxford english high school </u></h1>

    <section >
        <h1>Prize distribution </h1><hr>
        <div class="prizeDis">
        <img src="/static/Images\prize distribution\WhatsApp Image 2023-04-25 at 09.29.58.jpg"  alt="">
        <img src="/static/Images\prize distribution\WhatsApp Image 2023-04-25 at 09.30.11.jpg"  alt="">
        <img src="/static/Images\prize distribution\WhatsApp Image 2023-04-25 at 09.30.15.jpg"  alt="">
        <img src="/static/Images\prize distribution\WhatsApp Image 2023-04-25 at 09.30.19.jpg"  alt="">
    </div>

    <h2>Students are awarded for their excellent perfomance </h2>
    <hr>
    <h1>Earth Day celebration</h1> 
    <div class="prizeDis">
        <img src="/static/Images\competition\WhatsApp Image 2023-04-25 at 09.30.04.jpg" alt="">
 
        <img src="/static/Images\competition\WhatsApp Image 2023-04-25 at 09.30.09.jpg" alt="">
        <img src="/static/Images\competition\WhatsApp Image 2023-04-25 at 09.30.13.jpg" alt="">
    </div>
<h2>Children gives message to save the world</h2> <hr>

<h1>Chill in Sports week</h1> 
<div class="prizeDis">

    <img src="/static/Images\sports weak\WhatsApp Image 2023-04-25 at 09.30.26.jpg" alt="">
   
    <img src="/static/Images\WhatsApp Image 2023-04-25 at 09.30.34.jpg" alt="">
    <img src="/static/Images\WhatsApp Image 2023-04-25 at 09.30.38.jpg" alt="">
</div><hr>

<div class="competion">
    <h1>Debate Competiton</h1>
    
    <div class="prizeDis line 1">
       
        <img src="/static/Images\WhatsApp Image 2023-04-25 at 09.30.40.jpg" alt="">
        <img src="/static/Images\WhatsApp Image 2023-04-25 at 15.46.31.jpg" alt=""> 
        <img src="/static/Images\Festival Celebration\Debate.jpg" alt="">
  
    </div>
    <div class="prizeDis line2">
       
      
  
    </div>

</div><hr>


<h1>Festival Celebration</h1>
<div class="Festival-celebration(1) prizeDis">

  
    <img src="/static/Images\Festival Celebration\Holi celebration(1).jpg" alt="">
    <img src="/static/Images\Festival Celebration\Holi celebration(2).jpg" alt="">
    <img src="/static/Images\Festival Celebration\Holi celebration(3).jpg" alt="">
</div> <hr>

<h1>Annual Function</h1>

<div class="Annual(1) prizeDis">

    <img src="/static/Images\Anuual competition\(1).jpg" alt="">
    <img src="/static/Images\Anuual competition\(2).jpg" alt="">
    <img src="/static/Images\Anuual competition\(3).jpg" alt="">

</div>
<div class="Annual(2) prizeDis">

    <img src="/static/Images\Anuual competition\(4).jpg" alt="">
    <img src="/static/Images\Anuual competition\(5).jpg" alt="">
    <img src="/static/Images\Anuual competition\(6).jpg" alt="">

</div>

<div class="Annual(2) prizeDis">

    <img src="/static/Images\Anuual competition\(7).jpg" alt="">
    <img src="/static/Images\Anuual competition\(8).jpg" alt="">
    <img src="/static/Images\Anuual competition\(9).jpg" alt="">

</div>



    </section>


    <div class="footer">
    
        <ul>
            <h3>Additional Links</h3>
            <li>Home</li>
            <li>Contact us</li>
            <li>services</li>
            <li>Gallery</li>
            <li>Academics</li>
        </ul>
    
        <ul >
            <div class="border">       
            <h3>Help</h3>
            <li>Commuity</li>
            <li>Support</li>
            <li>Troubleshooting</li>
            <li>Contact Us</li>
            <li>Status</li>
        </div>
    
        </ul>
    
    
    <div class="img">
        <img src="/static\images (1).png" alt="">
        <img src="/static\images.png" alt="">
    </div>
    <div class="own">
        <p style="color: white;">All rights Are reserved by oxford english higher secondary school</p>
    </div>
    
       
    
        
    
    </div>
    
        
</body>
</html>