extends base.pug

block style 
    style 
        include ../static/base.css
block content 
     div.Toggle-Bar
        li Home
        li Class Recording
        li Digital Class
        li Digital Notes
        li HomeWork
        li Results
        